@model QuanLyChungCu.Models.CanHo

@{
    ViewData["Title"] = "Edit";
    Layout = "_ManagerLayout";
}

<h1>Edit</h1>

<h4>CanHo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCanHo" />
            <div class="form-group">
                <label asp-for="SoCanHo" class="control-label"></label>
                <input asp-for="SoCanHo" class="form-control" />
                <span asp-validation-for="SoCanHo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tang" class="control-label"></label>
                <input asp-for="Tang" class="form-control" />
                <span asp-validation-for="Tang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienTich" class="control-label"></label>
                <input asp-for="DienTich" class="form-control" />
                <span asp-validation-for="DienTich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiCanHo" class="control-label"></label>
                <input asp-for="LoaiCanHo" class="form-control" />
                <span asp-validation-for="LoaiCanHo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrang" class="control-label"></label>
                <input asp-for="TinhTrang" class="form-control" />
                <span asp-validation-for="TinhTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDanCu" class="control-label"></label>
                <input asp-for="IdDanCu" class="form-control" />
                <span asp-validation-for="IdDanCu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHopDong" class="control-label"></label>
                <input asp-for="IdHopDong" class="form-control" />
                <span asp-validation-for="IdHopDong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

